body {
    background-color: #f8f9fa;
}

.table th, .table td {
    vertical-align: middle;
}

.card-header h3 {
    margin-bottom: 0.5rem;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-family: inherit;
}
